<h1>About Us</h1>

<p>We are a bunch of hipsters, doing hipster things, swinging from hipster branches, sipping hipster sodas. If you're into the hipster life, thinking hipster dreams, make sure you hipster hop on into the <%= link_to 'Products', :root%> page and have a hipster look at some hipster products.</p>